<script src="http://www.6998.com/commonFoot"  type="text/javascript"></script>
<script type="text/javascript">
document.write(window['_commonFoot']||'')
</script>



<div style="display:none;">

	<div id="goods_box" style="width:545px;height:280px;" title="兑换商品">
			  <div class="vip_ex_alert">
			    <div id="err_ic_right" class="sign_icon err_ic_right" style="display:none;"></div>
			    <div id="err_ic_wrong" class="sign_icon err_ic_wrong" style="display:none;"></div>
			    <h4 class="goods_result" id="goods_result">			    		
			    </h4>
			    <a id="confirm" href="javascript:;" class="sign_icon vip_err_but">确定</a>
			    <a id="confirm_exchange" href="javascript:;" class="sign_icon vip_err_but">确定兑换</a>
			</div>
    </div> 

    <div id="day_box" style="width:545px;height:470px;" title="每日签到">
			 <iframe id="day_frame" src="about:blank" width="545" height="650" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" style="margin:0 auto;display: block;"></iframe>
    </div> 



</div>