<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>唐人游戏平台</title>
<meta name="keywords" content="唐人游戏, 网页游戏, 游戏, WebGame, 网络游戏, 风之岛" />
<meta name="description" content="唐人游戏平台集精品游戏、个人中心、客服中心、游戏论坛等功能于一体，为用户提供最好的一站式娱乐体验。" />
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
<link href="http://www.6998cdn.com/jquery-ui-1.10.3/minified/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/sign_css.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="http://www.6998cdn.com/favicon.ico" />
<script src="http://sg.6998cdn.com/skin2013v2/js/jquery.1.7.1.min.js"  type="text/javascript"></script>
<script src="http://www.6998cdn.com/moment/moment.js"  type="text/javascript"></script>
<script src="http://www.6998cdn.com/jquery-ui-1.10.3/minified/jquery-ui.min.js"  type="text/javascript"></script>
<script src="http://www.6998.com/vippicture"  type="text/javascript"></script>
<script src="http://www.6998.com/vipgoods"  type="text/javascript"></script>
<script src="/vip/goods/listjs"  type="text/javascript"></script>

<script src="/static/js/base.js"  type="text/javascript"></script>
<script type="text/javascript">
    if (self.location !== top.location) {
        top.location.href = self.location.href;
    }
</script>
</head>

